
*.csv
*.zip
*.txt
.ipynb_checkpoints/Enade_2019-checkpoint.ipynb
.ipynb_checkpoints/Enade_2019-checkpoint.ipynb
Zip/~$Dicionário de variáveis dos Microdados do Enade 2019.xlsx
.ipynb_checkpoints/Enade_2019-checkpoint.ipynb
